<section>
<h1>Account</h1>

	<% form_tag do %>
		<table>
			<tr>
				<td>Login</td>
				<td><%= text_field_tag :name, params[:name] %></td>
			</tr>
			<tr>
				<td>Password</td>
				<td><%= password_field_tag :password, params[:password]%></td>
			</tr>
			<tr>
				<td colspan="2" style="text-align:center;"><%= submit_tag 'Log in' %> | <%= link_to "I haven't login, I want to register", :action => :register %></td>
			</tr>
		</table>
	<% end %>

</section>